In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")
DF

Sample Data Created and Saved as employees.csv

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR

**Ans to the Q1**

In [98]:
import numpy as np
np_ages = np.array(ages)
np_salaries = np.array(salaries)
print("------Ages-------")
print("Ages",np_ages)
print("Datatype",np_ages.dtype)
print("Dimenssion",np_ages.ndim)
print("Shape",np_ages.shape)
print("Size",np_ages.size)
print("------Salaries------")
print("Salaries",np_salaries)
print("Datatype",np_salaries.dtype)
print("Dimenssion",np_salaries.ndim)
print("Shape",np_salaries.shape)
print("Size",np_salaries.size)

------Ages-------
Ages [56 46 32 25 38 56 36 40 28 28]
Datatype int64
Dimenssion 1
Shape (10,)
Size 10
------Salaries------
Salaries [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Datatype int64
Dimenssion 1
Shape (10,)
Size 10

**Ans to the  Q2:**

In [99]:

np_ages = np.array(ages)
np_salaries = np.array(salaries)
print("Max salary",np.max(np_salaries))
print("Min salary",np.min(np_salaries))
print("Avg salary",np.average(np_salaries))
print("Avg age",np.average(np_ages))

Max salary 89735
Min salary 30769
Avg salary 57446.9
Avg age 38.5

**Ans to the Q3**

In [100]:
np_ages = np.array(ages)
bool_condition = np_ages > 30
filtered_age = np_ages[bool_condition]
print("Ages greater than 30:",filtered_age)
print("Count:",filtered_age.size)

Ages greater than 30: [56 46 32 38 56 36 40]
Count: 7

**Ans to the Q4**

In [101]:
np_ages = np.array(ages)
new_ages = np_ages.copy()
increased_ages = new_ages + 5
print("Updated ages:",increased_ages)

Updated ages: [61 51 37 30 43 61 41 45 33 33]

**Ans to the Q5**

In [103]:

np_salaries = np.array(salaries)
total_salaries = np.sum(np_salaries)
print("Total Salaries:",total_salaries)
max_salary = np.max(np_salaries)
min_salary = np.min(np_salaries)
diffrence = max_salary - min_salary
print("Difference:",diffrence)

Total Salaries: 574469
Difference: 58966

**Ans to the Q6**

In [104]:
import numpy as np
import pandas as pd
df = pd.read_csv('employees.csv')
print("First 5 rows:",df.head(5))
print("----------------------")
print("Basic info: ")
df.info()
print("-----------------------")
print("Summary:",df.describe())

First 5 rows:    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
----------------------
Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
-----------------------
Summary:              id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

**Ans to the Q7**

In [105]:
selected_data = df[['id','age','salary']]
print(selected_data.tail(3))

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

**Ans to the Q8**

In [106]:
filtered_data = df[df['dept']=="IT"]
print("Employee",filtered_data)
print("Total number of IT employees",len(filtered_data))

Employee    id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
Total number of IT employees 3

**Ans to the Q9**

In [107]:
sorted_by_salary = df.sort_values('salary',ascending=False)
selected_employee = sorted_by_salary[["dept","age"]]
print(selected_employee.head(3))

      dept  age
6  Finance   36
7       IT   40
0       HR   56

**Ans to the Q10**

In [108]:
df.loc[df['salary'] > 80000,'salary']=80000
print(df)
new_avg_salary = df["salary"].mean()
print("New avg salary:",new_avg_salary)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR
New avg salary: 55863.3